In [52]:
import pandas as pd

In [54]:
df=pd.read_csv("spotify_millsongdata.csv")

In [56]:
df.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [58]:
df.shape

(57650, 4)

In [60]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [62]:
df=df.sample(10000).drop('link',axis=1).reset_index(drop=True)

In [64]:
df['text'][0]

"Seven thousand miles to Paris  \r\nNine hundred miles to Rome  \r\nAnd I'm goin' every mile to find  \r\nMy piece of mind at home  \r\nThis infatuatio is driving me insane  \r\nTo make my reservation  \r\nOn the next L.A. plane  \r\nMake me high, make me sane  \r\nGet me aboard that L.A. plane  \r\nI'm tired of the pouring rain  \r\nGet me safe, get me warm  \r\nGet me a Southern California morning  \r\nWhere I was born, boy I'm coming  \r\nI'm coming home to you  \r\nHe look so fine in Europe  \r\nOn all the posters and the brochures  \r\nI thought they promised something more  \r\nThan what was mine and yours  \r\nWell I was looking for excitement  \r\nOn every boat and train  \r\nBut all I saw were unfamiliar faces in the rain  \r\nGet me high, get me sane  \r\nGet me aboard that L.A. plane  \r\nI'm tired of this pouring rain  \r\nI'm tired of just passing through  \r\nGet me safe, get me warm  \r\nGet me a Southern California morning  \r\nWhere I was born, babe I'm coming  \r\nI'm coming home to you  \r\nAnd now nothing look better in my mind  \r\nThan your warm and loving face  \r\nAnd all these miles have taught me  \r\nThat your loved can't be replaced  \r\nGet me high, get me sane  \r\nGet me aboard that L.A. plane  \r\nI'm tired of this pouring rain  \r\nI'm tired of just passing through  \r\nGet me safe, get me warm  \r\nGet me a Southern California morning  \r\nWhere I was born, babe I'm coming  \r\nI'm coming home to you\r\n\r\n"

In [66]:
df.shape

(10000, 3)

In [68]:
df['text']=df['text'].str.lower().replace(r'^\w\s', '',regex=True).replace('r\n','',regex=True)

In [70]:
import nltk
nltk.download('punkt')
nltk.download('punkt_tab')
nltk.data.path.append('C:\\nltk_data')  # Replace with the path where your punkt data is located

from nltk.stem.porter import PorterStemmer

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\sumit\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\sumit\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

In [72]:
stemmer=PorterStemmer()

In [74]:
def token(txt):
    token=nltk.word_tokenize(txt)
    a=[stemmer.stem(w)for w in token]
    return " ".join(a)

In [76]:
token ("you are beautiful , beauty")

'you are beauti , beauti'

In [79]:
df['text'].apply(lambda x: token(x))

0       seven thousand mile to pari nine hundr mile to...
1       crazi , i 'm crazi for feel so lone i 'm crazi...
2       mani a truest word ha been spoken by the jeste...
3       you can be my alphabet and i will be your calc...
4       from earli in novemb to the last week of decem...
                              ...
9995    lord it 's the same old tune , fiddl and guita...
9996    cover my eye the light fall on her face danger...
9997    thi time i wonder what it feel like to find th...
9998    yeah 'n ' i 'm doin ' all right in school they...
9999    bitter sweet , you wast year lone dream about ...
Name: text, Length: 10000, dtype: object

In [80]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [81]:
tfidf= TfidfVectorizer(analyzer='word',stop_words='english')

In [82]:
matrix=tfidf.fit_transform(df['text'])

In [83]:
matrix

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 533055 stored elements and shape (10000, 33758)>

In [84]:
similarity=cosine_similarity(matrix)

In [43]:
similarity[0]

array([1.        , 0.01491556, 0.        , ..., 0.01452711, 0.00294604,
       0.00344435])

In [97]:
df[df['song']=="Waiting For The Man"] #Gives the song ID

,artist,song,text
8220,Nazareth,Waiting For The Man,cruisin' on down to my street corner \r\nwher...

In [ ]:
df.tail(5)

In [101]:
def recommender(song_name):
    idx= df[df['song']==song_name].index[0]
    distance= sorted(list(enumerate(similarity[idx])), reverse=True, key=lambda x:x[1])
    song= []
    for s_id in distance[1:5]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [103]:
recommender("Waiting For The Man")

['Fat Man',
 'Billy Boy (version 1)',
 "Don't Go Down That Street",
 "I'm Waiting Just For You"]

In [105]:
import pickle

In [107]:
pickle.dump(similarity,open('similarity.pkl','wb'))

In [108]:
pickle.dump(df,open('df.pkl','wb'))